.backgroundConf {
  min-height: 100vh;
  max-width: 100%;
  width: 100vw;
  height: 100%;
  /* background-image: url(../../assets/img/background.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948;
}
.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

h1 {
  color: rgb(253, 88, 0);
  font-size: 40px;
}

.container {
  text-align: center;
  min-height: 450px;
  width: 80%;
  padding-top: 15vh;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin: 20px;
  padding: 0 5px 20px 5px;
  position: relative;
  overflow: hidden;
}

input {
  margin-left: 10px;
  max-width: 300px;
  width: 80%;
  height: 25px;
  border-radius: 10px;
  border-color: white;
}
input,
button {
  box-shadow: 0px 4px 8px 0 grey;
  transition: box-shadow 0.5s;
}
input:hover,
button:hover {
  box-shadow: 0px 8px 14px 2px grey;
}
input:focus {
  outline: 2px solid white;
}
.glass {
  background-color: rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  padding: 20px 30px;
  max-width: 300px;
  width: 80%;
  margin: 10px auto;
}
label {
  color: gray;
  position: absolute;
  left: 35px;
  top: 7px;
  cursor: text;
  opacity: 1;
  transition: left 0.5s ease-in-out, opacity 0.5s;
}
input:focus + label,
input:not(:placeholder-shown) + label {
  left: 300px;
  opacity: 0;
}

.buttonDefault {
  background-color: rgb(253, 88, 0);
  border: 2px solid white;
  color: white;
  margin: 20px;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.buttonDefault:hover {
  background-color: rgb(212, 77, 3);
}

.buttonBack {
  background-color: rgb(253, 88, 0);
  text-align: right;
  border: 1px solid white;
  color: white;
  margin: 5px;
  font-size: 12px;
  border-radius: 15px;
  padding: 7px;
  cursor: pointer;
}

.buttonBack:hover {
  background-color: rgb(212, 77, 3);
}
