<app-offer-nav-bar></app-offer-nav-bar>

<div class="table-responsive w-80 table-80 text-center">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">Typ gry</th>
        <th class="text-center">Cena za godzine (PLN)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataItem of gameList">
        <td class="text-center">{{ dataItem.gameType }}</td>
        <td class="text-center">{{ dataItem.pricePerHour }}</td>
        <td class="text-center">
          <input
            type="date"
            id="start"
            name="trip-start"
            [value]="today | date : 'yyyy-MM-dd'"
            [min]="today | date : 'yyyy-MM-dd'"
            [max]="maxDate"
            [(ngModel)]="reservationDateStr"
            (ngModelChange)="onDateChange($event)"
          />
          <button
            class="btn btn-primary"
            (click)="findFreeTermins(dataItem.gameId)"
          >
            Pokaż terminy
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped" *ngIf="showTermDates">
    <thead>
      <tr>
        <th class="text-center" style="width: 30%">Numer stolika</th>
        <th class="text-center" style="width: 30%">Ilość miejsc</th>
        <th class="text-center" style="width: 40%">Zajęte terminy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let table of tables">
        <td class="text-center">{{ table.tableId }}</td>
        <td class="text-center">{{ table.capacity }}</td>
        <td class="text-center">
          <ng-container
            *ngIf="table.reservedDates.length > 0; else noReservations"
          >
            <ul>
              <li *ngFor="let term of table.reservedDates">
                <ng-container *ngIf="ifReserved(term); else noReservations">
                  od: {{ term.startDate.$date | date : "yyyy-MM-dd HH:mm" }} do:
                  {{ term.endDate.$date | date : "yyyy-MM-dd HH:mm" }}
                </ng-container>
              </li>
            </ul>
          </ng-container>
          <ng-template #noReservations> Brak rezerwacji </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <h2 class="mt-3">Wybierz grę!</h2>
    <select
      class="form-select w-5rem mb-3 mx-auto"
      [(ngModel)]="selectedGameId"
      (change)="passTableList()"
    >
      <option *ngFor="let game of gameList" [value]="game.gameId">
        {{ game.gameType }}
      </option>
    </select>

    <h2>Wybierz stolik!</h2>
    <select
      class="form-select w-5rem mb-3 mx-auto"
      [(ngModel)]="selectedTableId"
      (change)="findCapacity()"
    >
      <option *ngFor="let table of tablesToSelect" [value]="table.tableId">
        nr stolika: {{ table.tableId }}, ilość miejsc: {{ table.capacity }}
      </option>
    </select>
    <input
      class="d-inline-block"
      type="date"
      id="potentialTermin"
      name="potentialTermin"
      [min]="today | date : 'yyyy-MM-dd'"
      [max]="maxDate"
      [(ngModel)]="reservationDateStr"
      (ngModelChange)="userDateChange($event)"
    />
    od:
    <input
      class="d-inline-block mx-2"
      type="time"
      [(ngModel)]="userReservationHoursStart"
    />

    do:
    <input
      class="d-inline-block mx-2"
      type="time"
      [(ngModel)]="userReservationHoursEnd"
    />

    <button
      class="m-1 btn btn-light btn-outline-primary text-center d-inline-block"
      (click)="checkTermin()"
    >
      Sprawdź termin
    </button>
    <h2 *ngIf="ifFreeTermin == true" class="text-center mt-3">
      Termin jest wolny!
    </h2>
    <h2 *ngIf="ifFreeTermin == false" class="text-center mt-3">
      Musisz wybrac inny termin, bo ten jest zajęty!
    </h2>
  </div>
  <div class="mt-5">
    <label for="email">Email: </label>
    <input id="email" [(ngModel)]="userEmail" type="text" />
    <button
      class="m-1 btn btn-light btn-outline-primary text-center d-inline-block"
      (click)="makeReservation()"
      [disabled]="ifFreeTermin != true"
    >
      Zarezerwuj
    </button>
  </div>
</div>
