<app-menu-nav-bar></app-menu-nav-bar>

<div class="filter-container">
  <label for="type-filter">Typ dania:</label>
  <select id="type-filter" [(ngModel)]="selectedType" (change)="filterDishes()">
    <option value="">Wszystkie</option>
    <option *ngFor="let type of dishTypes" [value]="type">{{ type }}</option>
  </select>

  <label for="search-filter">Wyszukaj danie:</label>
  <input
    type="text"
    id="search-filter"
    placeholder="Enter a dish name"
    [(ngModel)]="searchTerm"
    (input)="filterDishes()"
  />

  <label for="price-filter">Cena:</label>
  <ngx-slider
    [(value)]="minValue"
    [(highValue)]="maxValue"
    [options]="{ floor: getMinPrice(), ceil: getMaxPrice(), step: 1 }"
    (userChange)="filterDishes()"
  ></ngx-slider>

  <span>{{ getMinPrice() }} - {{ getMaxPrice() }} PLN</span>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Typ Dania</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Cena (PLN)</th>
      <th scope="col">Akcje</th>
      <!-- Actions -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of filteredDishes">
      <td>{{ dataItem.dishType }}</td>
      <td>{{ dataItem.description }}</td>
      <td>{{ dataItem.dishPrice }}</td>
      <td>
        <button (click)="addDish(dataItem.dishId, dataItem.description)">+</button>
        <button [disabled]="!isDishInReservation(dataItem?.dishId)" (click)="removeDish(dataItem?.dishId)">-</button>
    </td>
    </tr>
  </tbody>
</table>

<h2>Twoje zamówienie:</h2>

<ul>
  <li *ngFor="let dish of reservationDishList">{{ dish.description }}</li>
</ul>

<button (click)="makeOrder(this.email)">Złóż zamówienie</button>
